@import "../../variables";

.searchBar {
  width: 300px;
  display: flex;
  height: 30px;
  background-color: white;

  input {
    font-family: $font_family;
    width: 100%;
    border: none;
    border-radius: 3px;
    color: #333;
  }
}
