.container {
  padding: 25px;

  h3 {
    color: #7f8082;
    font-weight: 100;

    span {
      color: #333;
      font-weight: 500;
    }
  }

  .options-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
