.form-wrapper {
  color: #4a4a4a;
  width: 40%;

  .form-header {
    background-color: white;
    height: 30px;
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 4px 2px -2px #e3e3e3;

    h2 {
      margin-top: 0;
    }
  }

  .form-content {
    background-color: #f9f9f9;
    padding: 45px;

    form {
      display: flex;
      flex-direction: column;

      label {
        margin: 5px 0;
        font-weight: 500;

        span {
          color: red;
        }
      }

      input {
        height: 30px;
        border: 1px solid #e3e3e3;

        &:last-of-type {
          height: 80px;
        }
      }

      .form-button {
        display: flex;
        justify-content: center;
        margin-top: 25px;
      }
    }
  }
}
