@import "../../variables";

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  color: #7f8082;

  th {
    color: #4a4a4a;
    height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid $light_grey;
    box-shadow: 0 4px 2px -2px $light_grey;
  }

  td {
    height: 70px;
    padding: 0 20px;

    p {
      margin: 5px 0;
    }

    a {
      color: $primary_yellow;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 30px;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  tr {
    border-bottom: 1px solid $light_grey;

    td:first-child {
      border-right: 1px solid $light_grey;
      box-shadow: 4px 0 2px -2px $light_grey;
      display: flex;
      align-items: center;
    }
  }
}
