@import "../../variables";

button {
  border: none;
  width: 140px;
  height: 30px;
  font-family: $font_family;
  color: white;

  &.beebutton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $primary_yellow;
    border-radius: 3px;
  }
}
